*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background: #9BF3F0;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem;
    border-radius: 10px;
    
}

header a:hover {
    background-color: #DAFFED;
    transform: scale(1.1);
    transition: transform .5s;
}

nav { 
    display: flex;
    gap: 10rem;
}

section {
    border: 1px solid red;
    height: calc(100vh - 5rem);
}

#listas {
    margin-top: 5rem;

}